* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 26.66667vw;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  position: relative;
}

.user-header {
  top: 0;
  z-index: 40;
  width: 100%;
  height: 0.44rem;
  line-height: 0.44rem;
  background-image: url(../images/address-bg.png);
  position: fixed;
  top: 0;
  left: 0;
}

header .address {
  width: 3.55rem;
  height: 0.44rem;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  line-height: 0.44rem;
  justify-content: space-between;
}

header .address a {
  color: #fff;
  font-size: 14px;
}

header .address a .location-text {
  margin-left: 2px;
  margin-right: 2px;
}

section {
  width: 100%;
  flex: 1;
  overflow-x: hidden;
  margin-bottom: .5rem;
}

section .allcon {
  width: 100%;
  height: 10px;
}

section .search-box {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 10px;
  padding-top: 0.44rem;
  background: url(../images/header-bg.jpg) no-repeat;
  background-size: 100% 100%;
  opacity: 1;
}

section .search-box .search-bar {
  width: 100%;
  height: 0.34rem;
  line-height: 0.34rem;
  margin: 5px auto;
  display: block;
  text-align: center;
  border-radius: 17px;
  font-size: 14px;
  color: #666;
  background-color: #fff;
  margin-bottom: 10px;
}

section .search-box .search-bar .search-bar-text {
  text-align: center;
}

section .search-box .search-words {
  overflow: hidden;
  height: 27px;
  padding: 0 20px;
  line-height: 27px;
}

section .search-box .search-words .search-word-item {
  font-size: 12px;
  color: #fff;
  height: 27px;
  line-height: 27px;
  float: left;
  padding: 0 8px;
}

section .index-zone-wrap {
  width: 100%;
  height: 176px;
  overflow: hidden;
  overflow-x: scroll;
  background-size: cover;
}

section .index-zone-wrap .scroll-box {
  width: 120%;
  height: 148px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}

section .index-zone-wrap .scroll-box .scroll-box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0.75rem;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  margin-top: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 59.36px;
}

section .index-zone-wrap .scroll-box .scroll-box-item .scroll-box-item-img {
  width: 40px;
  height: 40px;
}

section .index-zone-wrap .scroll-box .scroll-box-item span {
  display: block;
  font-size: 12px;
}

section .index-zone-wrap .ballScrollWrap {
  width: 25px;
  height: 2px;
  margin: 6px auto;
  border-radius: 2px;
  background-color: #f8f8f8;
}

section .index-zone-wrap .ballScrollWrap .ballScrollBar {
  width: 50%;
  height: 100%;
  border-radius: 2px;
  background: linear-gradient(90deg, #00cb1e, #00be34);
  transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}

section .floor-banner {
  width: 3.75rem;
  height: 95px;
  box-sizing: border-box;
}

section .floor-banner .swiper-imgs {
  margin: 0 10px;
  width: 3.55rem;
  display: flex;
}

section .floorBox {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

section .floorBox .show-grid {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

section .floorBox .show-grid .show-grid-img {
  width: 175px;
  height: 130px;
}

section .floorBox .show-grid2 {
  display: flex;
  background: #fbfbfb;
  flex-direction: column;
  justify-content: center;
  width: 121.45px;
}

section .floorBox .show-grid2 .grid2-title {
  color: #333333;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  font-size: 15px;
}

section .floorBox .show-grid2 .grid2-subTitle {
  color: #ff5757;
  text-align: center;
  height: 20px;
  line-height: 12px;
  font-weight: 400;
  font-size: 12px;
}

section .floorBox .show-grid2 .show-grid2-img {
  width: 60px;
  margin: 10px auto 0;
}

section .floorBox .floorBox3 {
  width: 3.75rem;
}

section .floorBox .floorBox3 .floorBoxTit {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 5px 10px;
  background: url(../images/ms.png) 10px no-repeat;
  background-size: auto 20px;
}

section .floorBox .floorBox3 .floorBoxTit .seckill-more-right {
  float: right;
  color: #ff5757;
  font-size: 12px;
  background: url(../images/more.png) 100% no-repeat;
  background-size: auto 12px;
  padding-right: 10px;
}

section .floorBox .floorBox3 .floorBoxList {
  margin-top: 5px;
  padding-bottom: 5px;
  width: auto;
  white-space: nowrap;
  overflow: auto;
  font-size: 0;
  position: relative;
  padding-right: 10px;
}

section .floorBox .floorBox3 .floorBoxList .seckill-item {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  margin: 0 0 0 10px;
  width: 20%;
  overflow: hidden;
}

section .floorBox .floorBox3 .floorBoxList .seckill-item .seckill-item-wrap {
  position: relative;
}

section .floorBox .floorBox3 .floorBoxList .seckill-item .seckill-item-wrap .seckill-item-img {
  display: block;
  width: 100%;
  height: 100%;
}

section .floorBox .floorBox3 .floorBoxList .seckill-item .seckill-item-wrap .seckill-item-storename {
  position: absolute;
  z-index: 10;
  height: 11px;
  line-height: 11px;
  font-size: 9px;
  color: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 87, 87, 0.6);
  padding: 1px 5px;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section .floorBox .floorBox3 .floorBoxList .seckill-item .seckill-item-price {
  color: #ff5757;
}

section .floorBox .floorBox3 .floorBoxList .seckill-item .seckill-item-costprice {
  color: #999;
}


section .floorBox .ad {
  height: 95px;
  box-sizing: border-box;
  margin: 0 10px;
}

section .floorBox4 {
  display: flex;
  flex-direction: column;
}

section .floorBox4 .floorTitleMoreBox {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  position: relative;
  text-align: left;
}

section .floorBox4 .floorTitleMoreBox .moreBox-title {
  float: left;
  font-weight: 700;
  font-size: 20px;
}

section .floorBox4 .scroll-boxx {
  overflow: hidden;
}

section .floorBox4 .scroll-boxx .product-item-wrap {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #e7e9e4;
  padding: 20px 10px 15px;
  min-height: 70px;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-left {
  display: flex;
  height: 66px;
  margin-right: 10px;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-left img {
  background: none;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .store-title {
  font-size: 16px;
  font-weight: 700;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .star-wrap {
  display: flex;
  flex-direction: row;
  width: 2.8rem;
  justify-content: space-between;
  align-items: center;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .star-wrap .star-wrap-left {
  display: flex;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .star-wrap .star-wrap-left .star {
  align-items: center;
  height: 16px;
  height: 20px;
  color: #ffa14e;
  line-height: 20px;
  display: flex;
  font-size: 10px;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .star-wrap .star-wrap-left .star-nums {
  line-height: 20px;
  display: inline-block;
  padding-left: 3px;
  font-size: 10px;
  color: #ffa14e;
  vertical-align: 1px;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .star-wrap .star-wrap-left .xiaoliang {
  padding-left: 10px;
  line-height: 20px;
  font-size: 10px;
  color: #555;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .star-wrap .star-wrap-right {
  display: flex;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .star-wrap .star-wrap-right .needtimes {
  font-size: 10px;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .star-wrap .star-wrap-right .distances {
  padding-left: 5px;
  font-size: 10px;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .transport {
  display: flex;
  justify-content: space-between;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .transport .transport-left {
  display: flex;
  line-height: 14px;
  height: 14px;
  font-size: 12px;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .transport .transport-left .qisong {
  font-size: 10px;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .transport .transport-left .yunfei {
  padding-left: 5px;
  font-size: 10px;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .transport .transport-right {
  display: flex;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .transport .transport-right .zhuansong {
  border-radius: 4px 1px;
  padding: 0 2px;
  font-size: 10px;
  margin-right: 5px;
  border: 1px solid skyblue;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .store-list-bottom {
  display: flex;
  flex-direction: column;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .store-list-bottom .store-list-bottom-top {
  display: flex;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .store-list-bottom .store-list-bottom-top .youhuiquan {
  display: flex;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .store-list-bottom .store-list-bottom-top .youhuiquan .yfq {
  display: inline-block;
  padding: 1px 2px;
  margin: 0 2px;
  color: #ff5757;
  border-radius: 4px 1px 4px 1px;
  border: 1px solid #ff5757;
  font-size: 10px;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .store-list-bottom .store-list-bottom-bottom {
  display: flex;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .store-list-bottom .store-list-bottom-bottom .manjian {
  padding: 0 3px;
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  border-radius: 4px 1px;
  color: #fff;
  z-index: 1;
  margin-top: 5px;
  background: #55d85e;
  margin-right: 5px;
}

section .floorBox4 .scroll-boxx .product-item-wrap .store-item-container .store-item-container-right .store-list-bottom .store-list-bottom-bottom .yunfei-title {
  font-size: 12px;
  line-height: 20px;
}